[data-md-color-scheme="fincepta-light"] {

    --md-primary-fg-color:               #105B63;
    --md-default-fg-color--light:        #105B63;
    --md-default-fg-color--lighter:      #A6A6A6;
    --md-default-fg-color--lightest:     #A6A6A6;
    
    --md-typeset-color:                 #105B63;

    /* --md-default-bg-color:               #0c9e72;
    --md-default-bg-color--light:        #ffffff;
    --md-default-bg-color--lighter:      #ffffff;
    --md-default-bg-color--lightest:     #ffffff; */
  }

  [data-md-color-scheme="fincepta-dark"] {
    --md-primary-fg-color:               #105B63;
    --md-default-fg-color--light:        #ffffff;
    --md-default-fg-color--lighter:      #ffffff;
    --md-default-fg-color--lightest:     #eb7130;
    
    --md-typeset-color:                  #ffffff;
    --md-typeset-a-color:                #eb7130;

    --md-default-bg-color:               #105B63;
    --md-accent-fg-color:                #ffffff;
    --md-default-bg-color--light:        #ffffff;
    --md-default-bg-color--lighter:      #ffffff;
    --md-default-bg-color--lightest:     #ffffff;
}

[data-md-color-scheme="fincepta-dark"] a {
    color: var(--md-default-fg-color--light); /* All links have white color */
    text-decoration: none; /* All links are underlined */
}

[data-md-color-scheme="fincepta-dark"] a:hover {
    /* Hover state remains the same */
    color: var(--md-default-fg-color--lightest); /* Accent color for hovered links */
    text-decoration: underline; /* Underline on hover */
}

[data-md-color-scheme="fincepta-dark"] .nav-link.active {
    color: var(--md-default-fg-color--lightest); /* Orange color for active/current page link */
    font-weight: bold; /* Make the active link bold */
    background-color: transparent; /* Remove optional background for active link */
}